@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoSeguridad2024</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProyectoSeguridad2024.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css" />
</head>
    <body>

@if (SignInManager.IsSignedIn(User))
{
        <div class="d-flex" id="wrapper">
            @* <!-- Sidebar--> *@
            <div class="bgLayout border-end" id="sidebar-wrapper">                
                <div class="sidebar-heading" style="text-align: center;">
                    <a href="~/Home/Index" class="d-block text-decoration-none">
                        <img class="logoCircular" src="~/img/STVAcircular_fondonegro_letrasamarillas.png" alt="Logo">
                    </a> 
                </div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark" href="~/Home/Index"><i class="fa-solid fa-house"></i> Home</a>
                    @if (User.IsInRole("EMPLEADO")) {
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark" href="~/Fichaje/Fichaje"><i class="fa-solid fa-user-check"></i> Fichaje</a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark" href="~/NovedadesEmpleado/NovedadesEmpleado"><i class="fa-solid fa-file-lines"></i> Novedades</a>
                    }
                    @if (User.IsInRole("CLIENTE")) {
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark" href="~/Devoluciones/Devoluciones"><i class="fa-solid fa-comment-dots"></i> ¡Enviá tu reseña!</a>
                    }
                    
                    @if (User.IsInRole("ADMINISTRADOR")) {

                        <!-- Botón de colapsar para la sección Administrar -->
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark" data-bs-toggle="collapse" href="#collapseAdmin" role="button" aria-expanded="false" aria-controls="collapseAdmin">
                        <i class="fa-solid fa-arrow-down"></i> Administrar
                    </a>

                        <!-- Contenido colapsable con jerarquía --> 
                    <div class="collapse ms-3" id="collapseAdmin" data-bs-target="#collapseAdmin">
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark list-administrar" href="~/Graficos/Graficos">
                        <i class="fa-solid fa-chart-pie"></i> Gráficos
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark list-administrar" href="~/Devoluciones/HistorialDevoluciones">
                        <i class="fa-solid fa-comments"></i> Historial Reseñas 
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark list-administrar" href="~/NovedadesEmpleado/HistorialNovedades">
                        <i class="fa-regular fa-newspaper"></i> Historial Novedades
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark list-administrar" href="~/Fichaje/FichajeHistorial">
                        <i class="fa-solid fa-business-time"></i> Historial Fichajes
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark list-administrar" href="~/JornadaLaboral/JornadaLaboral">
                        <i class="fa-regular fa-calendar-days"></i> Jornadas Laborales
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark list-administrar" href="~/Empresas/Empresas">
                            <i class="fa-solid fa-users"></i> Clientes
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark list-administrar" href="~/Personas/Personas">
                            <i class="fa-regular fa-id-card"></i> Personas
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark list-administrar" href="~/Users/Users">
                            <i class="fa-solid fa-user-plus"></i> Usuarios
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark list-administrar" href="~/Rubros/Rubros">
                            <i class="fa-solid fa-gears"></i> Rubros
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark list-administrar" href="~/Localidades/Localidades">
                            <i class="fa-solid fa-map-location-dot"></i> Localidades
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-light p-3 text-dark list-administrar" href="~/Provincias/Provincias">
                            <i class="fa-solid fa-location-dot"></i> Provincias
                        </a>
                    </div>

                    }
                    
                    <a><partial name="_LoginPartial" /> </a>
                </div>
            </div>
            @* <!-- Page content wrapper--> *@
            <div id="page-content-wrapper">
                @* <!-- Top navigation--> *@
                <nav class="navbar navbar-expand-lg navbar-light bgLayout border-bottom">
                    <div class="container-fluid">
                        <button class="btn" id="sidebarToggle"><i class="fa-solid fa-bars"></i></button>
                        <a class="navbar-brand"><img src="~/img/STVA_negro.png"  width="90" height="30"></a>
                    </div>
                </nav>

                <!-- page content -->
                <div>
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                        <div class="loader"></div>
                </div>
            </div>
        </div>

}
else
{

            <div id="page-content-wrapper">
                    <div class="container">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
            </div>
}

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jspdf/jspdf.debug.js"></script>
    <script src="~/js/jspdf/jspdf.min.js"></script>
    <script src="~/js/jspdf/jspdf.plugin.autotable.js"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>
    @* Script de Loader *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="~/js/loader/loader.js" asp-append-version="true"></script>
    <script src="~/fontawesome/js/all.min.js"></script>
    <script src="~/js/mask/jquery.mask.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert2.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
