@{
    ViewData["Title"] = "Empresas";
}

<link rel="stylesheet" href="~/css/abm.css" asp-append-version="true" />

<!-- Encabezado ABM -->
<div class="card mt-4">
    <div class="card-body">
        <div class="container mt-3">
            <div class="row">
                <div class="col-auto me-auto">
                    <h1 class="display-5 hover-icon">Empresas <i class="fas fa-building icon"></i></h1>
                </div>
                <div class="col-auto">
                    <button class="btn btnImprimir mt-3" onclick="ImprimirTablaEmpresas()">
                        <i class="fa-solid fa-download"></i>
                        <span class="btn-text">Imprimir</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tabla -->
<div class="card mt-4">
    <div class="card-body">
        <table class="table table-striped mt-3" id="imprimir-tabla">
            <thead>
                <tr>
                    <th scope="col" style="text-align: center">Razón Social</th>
                    <th scope="col" style="text-align: center">CUIT</th>
                    <th scope="col" style="text-align: center">Teléfono</th>
                    <th scope="col" style="text-align: center">Email</th>
                    <th scope="col" style="text-align: center">Provincia</th>
                    <th scope="col" style="text-align: center">Localidad</th>
                    <th scope="col" style="text-align: center">Domicilio</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="tbody-empresas"></tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEmpresas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    id="staticBackdrop" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal"></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="d-flex">
                        <p class="campoObligatorio">Los campos marcados con un asterisco (<span class="asterisco">*</span>) son obligatorios <b>|</b> Click en <i style="color: rgb(48, 126, 235);" class="fa-solid fa-circle-info"></i> para más información.</p>
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-md-6 mb-6">
                                <input type="hidden" id="EmpresaID">
                                <label for="RazonSocial" class="form-label d-flex">Razón Social<p class="asterisco">*</p></label>
                                <input type="text" class="form-control" id="RazonSocial" style="text-transform:uppercase">
                                <span id="razonSocialError" class="textoError"></span>
                            </div>
                            <div class="col-md-6 mb-6">
                                <label for="domicilio" class="form-label d-flex">Domicilio<p class="asterisco">*</p></label>
                                <input type="text" class="form-control" id="domicilio" style="text-transform:uppercase">
                                <span id="domicilioEmpresaError" class="textoError"></span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-3 mb-6">
                                <label for="Cuit" class="form-label d-flex">CUIT<p class="asterisco">*</p>
                            <div class="question-icon" onclick="openModalCuit()">
                                <i class="fa-solid fa-circle-info"></i>
                            </div>
                                </label>
                                <input type="text" class="form-control" id="Cuit">
                                <span id="cuitError" class="textoError"></span>
                            </div>
                            <div class="col-md-4 mb-6">
                                <label for="telefono" class="form-label d-flex">Teléfono<p class="asterisco">*</p>
                            <div class="question-icon" onclick="openModalTel()">
                                <i class="fa-solid fa-circle-info"></i>
                            </div>
                            </label>
                                <input type="tel" class="form-control" id="telefono">
                                <span id="telefonoEmpresaError" class="textoError"></span>
                            </div>
                            <div class="col-md-5 mb-6">
                                <label for="email" class="form-label d-flex">Email<p class="asterisco">*</p></label>
                                <input type="email" class="form-control" id="email">
                                <span id="emailEmpresaError" class="textoError"></span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6 mb-6">
                                <label for="ProvinciaID" class="form-label d-flex">Provincia<p class="asterisco">*</p></label>
                                @Html.DropDownList("ProvinciaID", null, htmlAttributes: new { @class = "form-control" })
                                <span id="localidadEmpresaError" class="textoError"></span>
                            </div>
                            <div class="col-md-6 mb-6">
                                <label for="LocalidadID" class="form-label d-flex">Localidad<p class="asterisco">*</p></label>
                                @Html.DropDownList("LocalidadID", null, htmlAttributes: new { @class = "form-control" })
                                <span id="provinciaEmpresaError" class="textoError"></span>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4 mb-6">
                                <label for="UsuarioID" class="form-label d-flex">Usuario<p class="asterisco">*</p></label>
                                <input type="text" id="UsuarioID" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnGuardar" onclick="GuardarEmpresa()">Guardar</button>
                <button type="button" class="btn btnCancelar" data-bs-dismiss="modal"
                    onclick="LimpiarModal()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Boton modal -->
<div class="btnAgregar">
    <button type="button" class="btn btn-secondary btn-circle btn-lg" title="Agregar" data-bs-toggle="modal"
        data-bs-target="#modalEmpresas" data-bs-target="#staticBackdrop" onclick="NuevoRegistro()">
        <i class="fa-solid fa-plus"></i> Nueva Empresa
    </button>
</div>

<!-- Modal Ayuda Form -->
<div id="ModalTelefono" class="modalAyuda" onclick="closeModalTel()">
    <div class="modal-contentAyuda">
        <h2>Ejemplos de teléfonos</h2>
        <hr>
        <p>Formatos de números de celular válidos para Argentina.</p>
        <p>• 12-3456</p>
        <p>• 15 12-3456</p>
        <p>• 3562 12-3456</p>
        <p>• 3562 15 12-3456</p>
        <p>• +54 9 3562 12-3456</p>
        <hr>
        <div class="modal-footerAyuda">
            <button class="botonEntendido" onclick="closeModalTel()">Entendido</button>
        </div>
    </div>
</div>

<!-- Modal Ayuda Form -->
<div id="ModalCuit" class="modalAyuda" onclick="closeModalCuit()">
    <div class="modal-contentAyuda">
        <h2>Ejemplos de Clave Única de Identificación Tributaria</h2>
        <hr>
        <p>Formatos de CUIT válidos para Argentina.</p>
        <p>• 23-12345678-6</p>
        <hr>
        <div class="modal-footerAyuda">
            <button class="botonEntendido" onclick="closeModalCuit()">Entendido</button>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/empresas-1.0.0.js"></script>
    <script src="~/js/impresiones.js"></script>
}