@{
    ViewData["Title"] = "Graficos";
}

<link rel="stylesheet" href="~/css/abm.css" asp-append-version="true" />

<!-- Card Graficos -->
<div class="row">
    <div class="col-md-6">
        <div class="card m-4">
            <div class="card-header">
                <h3 class="hover-icon mt-3" style="font-family: 'textos5';">CLIENTES POR LOCALIDAD <i
                        class="fas fa-users icon"></i></h3>
            </div>
            <div class="card-body">
                <div>
                    <div class="row">
                        <div class="row">
                            <div class="col-auto">
                                <div class="card-body">
                                    <canvas id="grafico-circular-empresas"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Card Graficos -->
<div class="row">
    <div class="col-md-6">
        <div class="card m-4">
            <div class="card-header">
                <h3 class="hover-icon mt-3" style="font-family: 'textos5';">FICHAJE DE EMPLEADOS <i
                        class="fas fa-business-time icon"></i></h3>
            </div>
            <div class="card-body">
                <div>
                    <div class="row">
                        <div class="row">
                            <div class="col-auto">
                                <div class="card-body">
                                    <div>
                                        <label for="form-label text-dark labelFiltro labelFiltroAncho personaSelect">Selecciona un empleado:</label>
                                        <select class="form-control filtro" aria-label="Default select example" id="personaSelect">
                                            @foreach (var empleado in ViewBag.PersonaID as SelectList)
                                            {
                                                <option value="@empleado.Value">@empleado.Text</option>
                                            }
                                        </select>
                                    </div>
                                    <div>
                                        <label class="form-label text-dark labelFiltro labelFiltroAncho" for="fechaDesde">Fecha Desde:</label>
                                        <input type="date" class="form-control filtro anchoDate" id="fechaDesde" />
                                    </div>

                                    <div>
                                        <label class="form-label text-dark labelFiltro labelFiltroAncho" for="fechaHasta">Fecha Hasta:</label>
                                        <input type="date" class="form-control filtro anchoDate" id="fechaHasta" />
                                    </div>
                                    <button onclick="GraficoCircularHistorialFichajes()" class="btn btn-secondary BtnlimpiarFiltros">Generar Gráfico</button>
                                    <canvas id="grafico-circular-historial-fichajes"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/graficos.js"></script>
}