@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Actualizar Contraseña";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<link rel="stylesheet" href="~/css/perfil.css" asp-append-version="true" />

<h3 class="text-center">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="d-flex justify-content-left align-items-center vh-100 cardPerfil">
    <div class="col-md-8">
        <div class="card shadow-lg border-0">
            <div class="card-header text-dark text-center">
                <h4>Reestablecer Contraseña</h4>
            </div>
            <div class="card-body p-3 formPerfil">
                <form id="change-password-form" method="post" onsubmit="return validateForm()">
                    <div id="error-message" class="textoError mb-3" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input id="old-password" type="password" class="form-control" autocomplete="current-password" placeholder="Ingresa tu contraseña vieja." />
                        <label for="old-password">Contraseña actual</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="new-password" type="password" class="form-control" autocomplete="new-password" placeholder="Ingresa tu contraseña nueva." />
                        <label for="new-password">Nueva contraseña</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input id="confirm-password" type="password" class="form-control" autocomplete="new-password" placeholder="Confirma tu contraseña nueva." />
                        <label for="confirm-password">Confirmar nueva contraseña</label>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-warning">Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/perfil.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
