@{
    ViewData["Title"] = "Localidades";
}

<link rel="stylesheet" href="~/css/abm.css" asp-append-version="true" />

<!-- Encabezado ABM --> 
<div class="card m-4">
    <div class="card-body">
        <div class="mt-3">
            <div class="row">
                <div class="col-auto me-auto">
                    <h1 class="hover-icon">LOCALIDADES <i class="fas fa-map-location-dot icon"></i></h1>
                </div>
                <div class="col-auto">
                    <button class="btn btnImprimir mt-2" onclick="ImprimirTablaLocalidades()">
                        <i class="fa-solid fa-download"></i>
                        <span class="btn-text">Imprimir</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tabla --> 
<div class="card m-4">
    <div class="card-body">
        <div class="table-responsive">
        <table class="table table-striped mt-3" id="imprimir-tabla">
            <thead>
                <tr>
                    <th scope="col" style="text-align: center">NOMBRE</th>
                    <th scope="col" style="text-align: center">CÓDIGO POSTAL</th>
                    <th scope="col" style="text-align: center">PROVINCIA</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="tbody-localidad"></tbody>
        </table>
    </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalLocalidades" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    id="staticBackdrop" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal"></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="d-flex">
                        <p class="campoObligatorio">Los campos marcados con un asterisco (<span class="asterisco">*</span>) son obligatorios</p>
                    </div>
                    <form>
                        <div class="col-md-8 mb-2">
                            <input type="hidden" id="LocalidadID">
                            <label for="Nombre" class="form-label d-flex">Nombre<p class="asterisco">*</p></label>
                            <input type="text" class="form-control" id="Nombre" style="text-transform:uppercase">
                            <span id="NombreError" class="textoError"></span>
                            <br>
                            <label for="CP" class="form-label">Código Postal</label>
                            <input type="text" class="form-control" id="CP">
                            <br>
                            <label for="ProvinciaID" class="form-label d-flex">Provincia<p class="asterisco">*</p>
                                </label>
                            @Html.DropDownList("ProvinciaID", null, htmlAttributes: new { @class = "form-control" })
                            <span id="ProvinciaError" class="textoError"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnGuardar" onclick="GuardarLocalidad()">Guardar</button>
                <button type="button" class="btn btnCancelar" data-bs-dismiss="modal"
                    onclick="LimpiarModal()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Boton Modal -->
<div class="btnAgregar">
    <button type="button" class="btn btn-secondary btn-circle btn-lg" title="Agregar" data-bs-toggle="modal"
        data-bs-target="#modalLocalidades" data-bs-target="#staticBackdrop" onclick="NuevoRegistro()">
        <i class="fa-solid fa-plus"></i> Nueva Localidad
    </button>
</div>

@section Scripts {
    <script src="~/js/localidades-1.0.0.js"></script>
    <script src="~/js/impresiones.js"></script>
}