@{
    ViewData["Title"] = "Locations Page";
}

<link rel="stylesheet" href="~/css/abm.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Localidades</h1>
</div>



<!-- Modal -->
<div class="modal fade" id="modalLocalidades" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="staticBackdrop" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="LimpiarModal()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form>
                        <div class="col-md-8 mb-2">
                            <input type="hidden" id="LocalidadID">
                            <label for="Nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="Nombre">
                            <br>
                            <label for="CP" class="form-label">Código Postal</label>
                            <input type="text" class="form-control" style="width: 120px;" id="CP">
                            <br>
                            <label for="ProvinciaID" class="form-label">Provincia</label>
                            @Html.DropDownList("ProvinciaID", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="GuardarLocalidad()">Guardar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="LimpiarModal()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th scope="col" style="text-align: center">Nombre</th>
            <th scope="col" style="text-align: center">Codigo Postal</th>
            <th scope="col" style="text-align: center">Provincia</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="tbody-localidad"></tbody>
</table>

<!-- Button trigger modal -->
<div class="btnAgregar">
<button type="button" class="btn btn-primary btn-circle-xl" title="Agregar" data-bs-toggle="modal" data-bs-target="#modalLocalidades" data-bs-target="#staticBackdrop">
  <i class="fa-solid fa-plus"></i>
</button>
</div>

@section Scripts {
    <script src="~/js/localidades-1.0.0.js"></script>
}