@{
    ViewData["Title"] = "Nueva Reseña";
}
<link rel="stylesheet" href="~/css/carganovedades.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/abm.css" asp-append-version="true" />

<div class="card m-4">
    <div class="card-header">
        <h2>Encuesta de Satisfacción del Cliente</h2>
    </div>
    <div class="card-body">
        <form id="encuestaForm" class="container">
            <input type="hidden" id="DevolucionID" value="0">
            <div class="row">
                <div class="form-group col-md-6 mt-3">
                    <label>1. ¿Qué tan satisfecho estás con la calidad general de nuestros servicios de
                        seguridad?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="satisfaccion_muy_satisfecho"
                            name="satisfaccion" value="Muy satisfecho">
                        <label class="form-check-label" for="satisfaccion_muy_satisfecho">Muy satisfecho</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="satisfaccion_satisfecho" name="satisfaccion"
                            value="Satisfecho">
                        <label class="form-check-label" for="satisfaccion_satisfecho">Satisfecho</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="satisfaccion_insatisfecho" name="satisfaccion"
                            value="Insatisfecho">
                        <label class="form-check-label" for="satisfaccion_insatisfecho">Insatisfecho</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="satisfaccion_muy_insatisfecho"
                            name="satisfaccion" value="Muy insatisfecho">
                        <label class="form-check-label" for="satisfaccion_muy_insatisfecho">Muy insatisfecho</label>
                    </div>
                </div>

                <div class="form-group col-md-6 mt-3">
                    <label>2. ¿Cómo calificarías la profesionalidad del personal de seguridad asignado a tu
                        propiedad?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="profesionalidad_excelente"
                            name="profesionalidad" value="Excelente">
                        <label class="form-check-label" for="profesionalidad_excelente">Excelente</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="profesionalidad_bueno" name="profesionalidad"
                            value="Bueno">
                        <label class="form-check-label" for="profesionalidad_bueno">Bueno</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="profesionalidad_regular" name="profesionalidad"
                            value="Regular">
                        <label class="form-check-label" for="profesionalidad_regular">Regular</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="profesionalidad_malo" name="profesionalidad"
                            value="Malo">
                        <label class="form-check-label" for="profesionalidad_malo">Malo</label>
                    </div>
                </div>

                <div class="form-group col-md-6 mt-3">
                    <label>3. ¿Los guardias de seguridad se muestran atentos y receptivos a tus necesidades?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="atencion_si" name="atencion" value="Siempre">
                        <label class="form-check-label" for="atencion_si">Siempre</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="atencion_a_veces" name="atencion"
                            value="A veces">
                        <label class="form-check-label" for="atencion_a_veces">A veces</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="atencion_rara_vez" name="atencion"
                            value="Rara vez">
                        <label class="form-check-label" for="atencion_rara_vez">Rara vez</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="atencion_nunca" name="atencion" value="Nunca">
                        <label class="form-check-label" for="atencion_nunca">Nunca</label>
                    </div>
                </div>

                <div class="form-group col-md-6 mt-3">
                    <label>4. ¿El personal de seguridad cumple con los horarios establecidos?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="horarios_si" name="horarios" value="Siempre">
                        <label class="form-check-label" for="horarios_si">Siempre</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="horarios_casi_si" name="horarios"
                            value="Casi siempre">
                        <label class="form-check-label" for="horarios_casi_si">Casi siempre</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="horarios_a_veces" name="horarios"
                            value="A veces">
                        <label class="form-check-label" for="horarios_a_veces">A veces</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="horarios_nunca" name="horarios" value="Nunca">
                        <label class="form-check-label" for="horarios_nunca">Nunca</label>
                    </div>
                </div>

                <div class="form-group col-md-6 mt-3">
                    <label>5. ¿Te sientes seguro con las medidas de seguridad implementadas por nuestra
                        empresa?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="seguro_total" name="seguridad"
                            value="Totalmente seguro">
                        <label class="form-check-label" for="seguro_total">Totalmente seguro</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="seguro_bastante" name="seguridad"
                            value="Bastante seguro">
                        <label class="form-check-label" for="seguro_bastante">Bastante seguro</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="seguro_algo" name="seguridad"
                            value="Algo inseguro">
                        <label class="form-check-label" for="seguro_algo">Algo inseguro</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="seguro_muy_inseguro" name="seguridad"
                            value="Muy inseguro">
                        <label class="form-check-label" for="seguro_muy_inseguro">Muy inseguro</label>
                    </div>
                </div>

                <div class="form-group col-md-6 mt-3">
                    <label>6. ¿Recomendarías nuestros servicios de seguridad a otras empresas o personas?</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="recomendar_definitivamente"
                            name="recomendacion" value="Definitivamente">
                        <label class="form-check-label" for="recomendar_definitivamente">Definitivamente</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="recomendar_probablemente" name="recomendacion"
                            value="Probablemente">
                        <label class="form-check-label" for="recomendar_probablemente">Probablemente</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="recomendar_no_se" name="recomendacion"
                            value="No lo sé">
                        <label class="form-check-label" for="recomendar_no_se">No lo sé</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="recomendar_probablemente_no"
                            name="recomendacion" value="Probablemente no">
                        <label class="form-check-label" for="recomendar_probablemente_no">Probablemente no</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="recomendar_definitivamente_no"
                            name="recomendacion" value="Definitivamente no">
                        <label class="form-check-label" for="recomendar_definitivamente_no">Definitivamente
                            no</label>
                    </div>
                </div>
            </div>


            <div class="input-group mb-4 mt-3">
                <span class="input-group-text">Comentarios</span>
                <textarea class="form-control" id="Resenia"></textarea>
            </div>
            <div>
                <button type="button" style="width: 120px;" class="btn btn-secondary"
                    onclick="GuardarDevolucion()">Enviar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/devoluciones-1.0.0.js"></script>
}