@{
  ViewData["Title"] = "Inicio";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<!-- Encabezado -->
<div class="encabezado text-center">
  <h2 class="display-6">¡Bienvenido de nuevo, @User.Identity?.Name!</h2>
</div>

<!-- Carousel -->
<div class="carFondo">
  @* <img src="/img/STVAguardia_1_con_texto.png" width="500px" height="350px"> *@
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="7000">
        <img src="/img/STVAguardia_1_con_texto.png" class="d-block w-100">
      </div>
      <div class="carousel-item" data-bs-interval="7000">
        <img src="/img/STVAguardia_2_con_texto.png" class="d-block w-100">
      </div>
      <div class="carousel-item" data-bs-interval="7000">
        <img src="/img/STVAguardia_3_con_texto.png" class="d-block w-100">
      </div>
      <div class="carousel-item" data-bs-interval="7000">
        <img src="/img/STVAguardia_4_con_texto.png" class="d-block w-100">
      </div>
      <div class="carousel-item" data-bs-interval="7000">
        <img src="/img/STVAguardia_5_con_texto.png" class="d-block w-100">
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    </button>
  </div>
</div>
<hr style="margin-top: 35px;">
<!-- Encabezado -->
<div class="encabezado text-center">
  <h2 class="display-6">¿Cómo funciona nuestro sistema?</h2>
</div>

<!-- Cards Permisos Usuarios -->
<div class="container-fluid">
  <div class="row col-md-12 g-4">
    <div>
      <div class="card h-100">
        <img src="/img/cardHome_1.png">
      </div>
    </div>
    <div>
      <div class="card h-100">
        <img src="/img/cardHome_2.png">
      </div>
    </div>
  </div>
</div>
<hr style="margin-top: 35px;">


@*Carousel empresas
<div class="encabezado text-center">
<h2 class="display-6">Empresas que nos eligen día a día</h2>
</div>

<div class="slider">
<div class="slide-track">
<div class="slideCar">
<img src="/img/carLogoNacion.png" height="50" width="150" />
</div>
<div class="slideCar">
<img src="/img/carLogoSantander.png" height="50" width="300" />
</div>
<div class="slideCar">
<img src="/img/carLogoBancor.png" height="150" width="200" />
</div>
<div class="slideCar">
<img src="/img/carLogoMacro.png" height="50" width="150" />
</div>
<div class="slideCar">
<img src="/img/carLogoAdecoagro.png" height="50" width="150" />
</div>
<div class="slideCar">
<img src="/img/carLogoBalsuar.jpg" height="150" width="200" />
</div>
<div class="slideCar">
<img src="/img/carLogoArgenbal.jpg" height="150" width="200" />
</div>
<div class="slideCar">
<img src="/img/carLogoPiamontesa.png" height="150" width="200" />
</div>
<div class="slideCar">
<img src="/img/carLogoSogima.png" height="150" width="200" />
</div>
<div class="slideCar">
<img src="/img/carLogoLactear.png" height="150" width="200" />
</div>
<div class="slideCar">
<img src="/img/carLogoAgronorte.jpg" height="100" width="100" />
</div>
<div class="slideCar">
<img src="/img/carLogoShell.png" height="50" width="100" />
</div>
<div class="slideCar">
<img src="/img/carLogoYPF.jpg" height="100" width="250" />
</div>
<div class="slideCar">
<img src="/img/carLogoIndecia.png" height="150" width="200" />
</div>
</div>
</div> *@



@* <div class="carouselEmpresas">
<div class="carousel-trackEmpresas">
<div class="carousel-itemEmpresas">
<img src="/img/carLogoYPF.jpg" height="100" width="250" />
</div>
<div class="carousel-itemEmpresas">
<img src="/img/carLogoYPF.jpg" height="100" width="250" />
</div>
<div class="carousel-itemEmpresas">
<img src="/img/carLogoYPF.jpg" height="100" width="250" />
</div>
</div>
</div> *@