@page
@model LoginModel

@{
  ViewData["Title"] = "Iniciar Sesión";
}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

<div id="main-wrapper" class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card border-0 formLogin">
        <div class="card-body p-0">
          <div class="row no-gutters">
            <div class="col-lg-6">
              <div class="p-5">
                <div style="text-align: center;">
                <img src="~/img/STVA_amarillo.png" width="220px" height="90px">
                </div>
                <hr>
                @* <div class="mb-5">
                  <h3 class="h4 font-weight-bold text-theme" style="text-align: center;">Iniciar Sesión</h3>
                </div> *@
                <h6 class="h5 mb-0">¡Bienvenido de nuevo!</h6>
                <p class="text-muted mt-2 mb-5">Ingresa tu email y contraseña.</p>
                <form id="account" method="post">
                  <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" asp-for="Input.Email" autocomplete="username"
                      aria-required="true" id="floatingInput" placeholder="name@example.com">
                    <label asp-for="Input.Email" for="floatingInput">Correo Electrónico</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" asp-for="Input.Password" autocomplete="current-password"
                      aria-required="true" id="floatingPassword" placeholder="Password">
                    <label asp-for="Input.Password" for="floatingPassword">Contraseña</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                  </div>
                  <div class="d-grid">
                    <button id="login-submit" class="btn btn-lg btn-login text-uppercase fw-bold mb-2"
                      type="submit">Iniciar Sesión</button>
                  </div>
                </form>
              </div>
            </div>

            <div class="col-lg-6 d-none d-lg-inline-block">
              <div class="account-block rounded-right">
                @* <div class="overlay rounded-right"></div>
                <div class="account-testimonial">
                  <h4 class="text-white mb-4">This beautiful theme yours!</h4>
                  <p class="lead text-white">"Best investment i made for a long time. Can only recommend it for other
                    users."</p>
                  <p>- Admin User</p>
                </div> *@
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}