@{
    ViewData["Title"] = "Nueva Novedad";
}
<link rel="stylesheet" href="~/css/carganovedades.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/abm.css" asp-append-version="true" />

<div class="card m-4 centrarNovedad">
    <div class="card-header">
        <h4>Nueva Novedad</h4>
    </div>
    <div class="card-body">
        <form>
            <input type="hidden" id="NovedadID" value="0">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1" style="font-family: 'textos3';">Fecha y
                            Hora</span>
                        <input value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" type="datetime-local"
                            class="form-control" id="FechaNovedad" max="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                            <span id="fechaError" class="textoError"></span>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="input-group">
                        @Html.DropDownList("EmpresaID", null, htmlAttributes: new { @class = "form-control" })
                        <span class="input-group-text" id="basic-addon2" style="font-family: 'textos3';">Empresa</span>
                    </div>
                    <span id="empresaError" class="textoError"></span>
                </div>
            </div>

            <div class="input-group mb-4 ">
                <span class="input-group-text" style="font-family: 'textos3';">Observación</span>
                <textarea class="form-control" id="Observacion"></textarea>
                <p id="observacionError" class="textoError"></p>
            </div>
            <div class="input-group mb-4 inputImg">
                <input type="file" class="form-control formImg" id="ImgNovedad"
                    onchange="MostrarImagenSeleccionada(this);">
                <label class="custom-file-upload" for="ImgNovedad" title="Cargar una imagen">
                    Elegir imagen
                </label>
                <span class="file-name" id="fileName">Ninguna imagen seleccionada</span>
            </div>
            <!-- Elemento para mostrar la imagen seleccionada -->
            <div id="vistaImg" title="Expandir" class="mb-4"></div>
            <hr>
            <div style="text-align: right;">
                <button type="button" style="width: 120px;" class="btn btn-secondary"
                    onclick="GuardarNovedad()">Enviar</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal para mostrar la imagen en grande -->
<div id="modalImagenGrande" class="modalDatos" style="display: none;">
    <div class="modal-contentDatos">
        <span class="close" onclick="cerrarModalImagen()">&times;</span>
        <img id="imagenGrande" src="" alt="Imagen Grande" style="width: 100%; height: auto;" />
    </div>
</div>

@section Scripts {
    <script src="~/js/novedadesempleado-1.0.0.js"></script>
}