body {
    background-color: #333333;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='317' height='317' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%235F5F5F' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FCC044'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.card {
    background-color: #DFDFDF;
}

.hover-icon {
    display: inline-flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.inputBusqueda {
    background-color: rgb(190, 190, 190) !important;
    border: black !important;
    color: black !important;
}

.inputBusqueda:hover {
    background-color: rgb(179, 179, 179) !important;
    border: black !important;
    color: black !important;
    transition: ease-in-out 0.3s !important;
}

.inputBusqueda:focus {
    background-color: rgb(190, 190, 190) !important;
    border: black !important;
    color: black !important;
}

.hover-icon .icon {
    display: inline-block;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.hover-icon:hover .icon {
    opacity: 1;
}

.hover-icon:not(:hover) .icon {
    opacity: 0;
}

.form-control {
    background-color: gray;
    color: white;
    font-family: 'textos13';
    cursor: default;
    border: none;
}

.form-control:focus {
    background-color: rgb(77, 77, 77);
    color: white;
    font-family: 'textos13';
    cursor: default;
    border: none;
    box-shadow: none;
}

label.form-label {
    margin-bottom: -15px;
}

h5 {
    color: white;
    cursor: default;
}

h2, h4{
    cursor: default;
}

.textoError {
    color: rgb(217, 136, 136);
    cursor: default;
}

.campoObligatorio {
    color: rgb(203, 203, 203);
    cursor: default;
    font-family: 'textos3';
}

.referenciaColor {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.referenciaTexto {
    display: flex;
    align-items: center;
    font-family: 'textos12';
    font-size: 18px;
}

.referenciaContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto; 
}

.asterisco {
    color: red;
    cursor: default;
    font-family: 'textos3';
    font-size: large;
    padding-left: 3px;
    padding-right: 3px;
}

.question-icon {
    position: right;
    display: inline-block;
    cursor: pointer;
    padding-left: 10px;
    color: rgb(48, 126, 235);
    font-size: 16px;
}

.question-icon :hover {
    color: rgb(79, 144, 235);
    transition: 0.3s;
}

.modal-header {
    justify-content: center;
}

/* Card Personas */
.cardPersonas {
    background-color: #b1b1b1;
    color: rgb(0, 0, 0);
    font-family: 'textos13';
    margin-bottom: 1rem;
    position: relative; 
}

.cardbodyPersonas {
    height: 140px;
} 

h1 {
    font-family: 'textos5';
    cursor: default;
}

h3{
    cursor: default;
}

th {
    font-family: 'textos3';
    font-weight: 'bold';
    cursor: default;
    font-size: medium;
}

td {
    font-family: 'textos13';
    font-size: medium;
    font-style: 'bold';
    cursor: default;
    vertical-align: middle !important;
}

.datosPersona {
    font-family: 'textos13';
    background-color: #d1d1d1c7;
    color: rgb(0, 0, 0);
}

label {
    font-family: 'textos3';
    color: white;
}

/* Botones */
.btnImprimir {
    background-color: rgb(171, 171, 171);
    font-family: 'textos3';
    color: black;
    position: relative;
    transition: ease-in-out 0.3s;
}

.btnImprimir .btn-text {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
}

.btnImprimir:hover .btn-text {
    opacity: 1;
    right: calc(100% + 10px);
}

.btnImprimir:focus {
    box-shadow: none;
}

.btnImprimir:hover {
    background-color: gray;
    font-family: 'textos3';
    color: black;
    transition: ease-in-out 0.3s;
}

.btnCancelar:hover {
    background-color: rgb(223, 0, 0);
    transition: ease-in-out 0.3s;
    color: white;
    font-family: 'textos3';
}

/* Contenedor de botones */

.btnPersonas { 
    display: flex;
    justify-content: center; 
    background-color: #b1b1b1;
    font-family: 'textos3';
    position: absolute; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 50px; 
    align-items: center; 
    padding: 15px; 
    gap: 10px; 
    transition: opacity 0.2s ease, visibility 0.2s ease; 
}

.listaPersona {
    margin-bottom: 60px; 
}

.btnPersonas:focus {
    box-shadow: none;
}

.btnCancelar {
    background-color: rgb(158, 0, 0);
    color: white;
    font-family: 'textos3';
}

.btnCancelar:focus {
    box-shadow: none;
}

.btnAgregar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.btnAgregar:hover {
    scale: 102%;
    transition: ease-in-out 0.3s;
}

.btnGuardar {
    background-color: #ecab0f;
    color: white;
    font-family: 'textos3';
}

.btnGuardar:hover {
    background-color: #cb920d;
    transition: ease-in-out 0.3s;
    color: white;
    font-family: 'textos3';
}

.btnGuardar:focus {
    box-shadow: none;
}

.btn-danger {
    background-color: #212529;
    color: white;
    border-color: rgba(255, 255, 255, 0);
}

.botonEntendido {
    background-color: #ecab0f !important;
    color: white;
    font-family: 'textos3';
    border-radius: 5px 5px 5px 5px;
}

.botonEntendido:hover {
    scale: 103% !important;
    transition: ease-in-out 0.3s !important;
}

.btn .fa-pen-to-square {
    color: rgb(49, 48, 48);
}

.btn .fa-pen-to-square:focus {
    box-shadow: none;
}

.btn .fa-pen-to-square:hover {
    scale: 103%;
    transition: ease-in-out 0.3s;
    color: rgba(49, 48, 48, 0.445);
}

.btn:focus {
    box-shadow: none;
    border: none;
}

.btn .fa-trash {
    color: black;
}

.btn .fa-trash:active {
    box-shadow: none;
}

.btn .fa-trash:hover {
    scale: 103%;
    transition: ease-in-out 0.3s;
    color: rgb(223, 0, 0);
}

.btn .fa-info {
    color: rgba(0, 0, 0, 0.747);
}

.btn .fa-info :hover {
    scale: 103%;
    transition: ease-in-out 0.3s;
    color: rgb(0, 78, 223);
}

.btn .fa-info:active {
    box-shadow: none;
}

.BtnlimpiarFiltros:hover{
    scale: 101% !important;
}

.BtnlimpiarFiltros{
    height: 36px;
}

/* Animaciones Modal */
.modal {
    animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
    animation: modalOpen 0.3s ease-in-out;
    background-color: rgb(46, 46, 46);
}

/* Modal Ayuda Form */
.modalAyuda {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.4s ease-in-out;
    overflow: hidden;
    cursor: default;
}

.modal-contentAyuda {
    background-color: #dddddd;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px 5px 5px 5px;
}

.modal-contentAyuda h2,
p {
    font-family: 'textos13'
}

.modal-footerAyuda {
    text-align: right;
    margin-top: 20px;
}

.modal-footerAyuda button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Modal Datos Completos */
.modalDatos {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.4s ease-in-out;
    overflow: hidden;
    cursor: default;
}

.modal-contentDatosPersonas {
    background-color: #dddddd;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    border-radius: 5px 5px 5px 5px;
}

.modal-contentDatos {
    background-color: #dddddd;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px 5px 5px 5px;
}

.modalResenia{
    margin-top: 10px !important;
}

/* Acordeon Jornada Laboral */

.accordion-button-custom {
    background-color: rgb(228, 228, 228) !important;
    transition: ease-in-out 0.3s !important;
}

.accordion-button-custom.collapsed {
    background-color: rgb(196, 196, 196) !important;
}

.accordion-collapse-custom {
    transition: height 0.3s ease-in-out !important;
}

h3 {
    color: rgb(29, 29, 29);
}

.accordion-item {
    background-color: rgba(0, 0, 0, 0.274) !important;
    border-color: rgba(255, 255, 255, 0.24) !important;
}

/* Checkboxs */

.custom-checkbox {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label.custom-checkbox {
    padding-left: 25px !important;
    padding-right: 17px;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.custom-checkbox:hover input~.checkmark {
    background-color: #ccc;
}

.custom-checkbox input:checked~.checkmark {
    background-color: #f3bb21;
}

.custom-checkbox input:checked~span {
    color: #aaa;
    text-decoration: line-through;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input:checked~.checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 7px;
    top: 3px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Switch */

.toggle-switch {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 24px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #f3bb21;
}

input:focus+.slider {
    box-shadow: 0 0 1px #f3c221;
}

input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Tabla responsiva */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    font-size: 0.8rem;
    max-height: 400px !important;
}

.table-responsive>.table {
    margin-bottom: 0;
    min-width: 600px;
}

.table-responsive>.table>thead>tr>th,
.table-responsive>.table>tbody>tr>th,
.table-responsive>.table>tfoot>tr>th,
.table-responsive>.table>thead>tr>td,
.table-responsive>.table>tbody>tr>td,
.table-responsive>.table>tfoot>tr>td {
    padding: 0.5rem;
}

.tablaOculta{
    display: none;
}

.fotoUsuario{
    padding: 2px;
}
/* Observacion empleado */
.inputImg {
    position: relative;
    display: flex;
    align-items: center; 
    width: 100%;
}

.formImg {
    display: none; 
}

.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #E9ECEF;
    color: rgb(0, 0, 0);
    font-family: 'textos3';
    border-radius: 0.375rem 0px 0px 0.375rem !important;
    border:  1px #212529;
    border: 1px solid #6c757d46; 
}

.file-name {
    font-size: 16px;
    color: #333;
    font-family: 'textos13';
    display: inline-block;
    background-color: #808080;
    color: white;
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing:border-box;
}

#Resenia {
    resize: none;
}

@media (max-width: 767px) {

    .cardPersonas {
        margin-bottom: 1rem;
        font-size: medium;
    }

    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        font-size: 0.7rem;
        max-height: 560px !important;
    }

    .btnAgregar {
        scale: 140%;
    }

    .fa-plus {
        margin-bottom: 9px;
    }

    .textBtnAgregar {
        display: none;
    }

    .table-responsive>.table {
        min-width: 90px !important;
    }

    .table-responsive>.table>thead>tr>th,
    .table-responsive>.table>tbody>tr>th,
    .table-responsive>.table>tfoot>tr>th,
    .table-responsive>.table>thead>tr>td,
    .table-responsive>.table>tbody>tr>td,
    .table-responsive>.table>tfoot>tr>td {
        padding: 0.25rem;
    }

    label.custom-checkbox {
        font-size: small;
    }

    th {
        text-align: left !important;
        font-size: small !important;
    }

    td {
        text-align: left !important;
        font-size: small !important;
        width: 5px !important;
    }
    /* Texto boton imprimir oculto en formato celular */
    .btn-text {
        display: none;
    }

    #checkboxsAdicionales .d-flex {
        flex-direction: column;
    }

    #checkboxsAdicionales .custom-checkbox {
        display: block;
        margin-bottom: 10px;
    }

    .ocultar-en-767px {
        display: none;
    }

    .filtro {
        font-size: 13px;
    }

    .hover-iconPequeño {
        font-size: 18px;
    }

    .spanJornada {
        display: none;
    }

    .inputBusquedaResponsivo {
        border-radius: 5px 5px !important;
    }

    .referenciaTexto {
        font-size: medium;
    }

    .referenciaColor {
        width: 10px;
        height: 10px;
    }

    .referenciaContainer {
        flex-direction: column;
        align-items: flex-end;
    }

    .labelFiltro{
        font-size: small;
    }

    .labelFiltroAncho{
        width: 237px;
    }

    .contenedorFiltros{
        gap: 1px;
    }

    .anchoDate{
        width: 115px;
    }

    .BtnlimpiarFiltros{
        width: 100px;
        height: 25px;
        font-size:smaller;
        font-family: 'textos13';
    } 

    .modal-contentDatosPersonas {
        background-color: #dddddd;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        border-radius: 5px 5px 5px 5px;
        margin-top: 50%;
    }

    .modal-contentDatos {
        background-color: #dddddd;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        border-radius: 5px 5px 5px 5px;
        margin-top: 50%;
    }

    .modal-contentAyuda {
        background-color: #dddddd;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        border-radius: 5px 5px 5px 5px;
        margin-top: 70%;
    }

    .modal-title{
        font-size: medium;
    }

    .campoObligatorio{
        font-size: small;
    }

    .centrarModalCelular{
        margin-top: 50%;
    }

    .centrarModalCelular30{
        margin-top: 30%;
    }

    .limpiarFiltrosFull{
        display: none !important;
    }
}

@media (max-width: 550px) {
    .ocultar-en-550px {
        display: none;
    }

    .modalResenia{
        margin-top: 45px !important;
    }

    /* .referenciaContainer{
        display: none !important;
    } */
}

@media (min-width: 768px) {
    .modal-contentAyuda {
        width: 30%;
        top: 0 !important;
    }

    /* .referenciaContainerModal{
        display: none !important;
    } */

    .infoTabla {
        display: none;
    }

    .mostrar-en-767px {
        display: none;
    }

    .limpiarFiltrosMin{
        display: none !important;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modalOpen {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}