body {
    background-color: #333333;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='317' height='317' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%235F5F5F' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FCC044'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.card {
    background-color: #DFDFDF;
}

.hover-icon {
    display: inline-flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.inputBusqueda {
    background-color: rgb(190, 190, 190) !important;
    border: black !important;
    color: black !important;
}

.inputBusqueda:hover {
    background-color: rgb(222, 222, 222) !important;
    border: black !important;
    color: black !important;
    transition: ease-in-out 0.3s !important;
}

.inputBusqueda:focus {
    background-color: rgb(222, 222, 222) !important;
    border: black !important;
    color: black !important;
}

.hover-icon .icon {
    display: inline-block;
    margin-left: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.hover-icon:hover .icon {
    opacity: 1;
}

.hover-icon:not(:hover) .icon {
    opacity: 0;
}

.form-control {
    background-color: gray;
    color: white;
    font-family: 'textos13';
    cursor: default;
    border: none;
}

.form-control:focus {
    background-color: rgb(77, 77, 77);
    color: white;
    font-family: 'textos13';
    cursor: default;
    border: none;
    box-shadow: none;
}

label.form-label {
    margin-bottom: -15px;
}

h5 {
    color: white;
    cursor: default;
}

.textoError {
    color: red;
    cursor: default;
}

.campoObligatorio {
    color: rgb(203, 203, 203);
    cursor: default;
    font-family: 'textos3';
}

.asterisco {
    color: red;
    cursor: default;
    font-family: 'textos3';
    font-size: large;
    padding-left: 3px;
    padding-right: 3px;
}

.question-icon {
    position: right;
    display: inline-block;
    cursor: pointer;
    padding-left: 10px;
    color: rgb(48, 126, 235);
    font-size: 16px;
}

.question-icon :hover {
    color: rgb(79, 144, 235);
    transition: 0.3s;
}

.modal-header {
    justify-content: center;
}

/* Card Personas */
.cardPersonas {
    background-color: #b1b1b1;
    color: rgb(0, 0, 0);
    font-family: 'textos13';
    margin-bottom: 1rem;

}

.cardbodyPersonas {
    height: 140px;
  }

@media (max-width: 767px) {
    .cardPersonas {
        margin-bottom: 1rem;
        font-size:large;
    }
    .cardbodyPersonas {
        height: 100px;
      }
}

h1 {
    font-family: 'textos5';
    cursor: default;
}

th {
    font-family: 'textos3';
    font-weight: 'bold';
    cursor: default;
    font-size: larger;
}

td {
    font-family: 'textos13';
    font-size: large;
    font-style: 'bold';
    cursor: default;
    vertical-align: middle !important;
}

.datosPersona {
    font-family: 'textos13';
    background-color: #d1d1d1c7;
    color: rgb(0, 0, 0);
}

label {
    font-family: 'textos3';
    color: white;
}

/* Botones */
.btnImprimir {
    background-color: rgb(171, 171, 171);
    font-family: 'textos3';
    color: black;
    position: relative;
    transition: ease-in-out 0.3s;
}

.btnImprimir .btn-text {
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
}

.btnImprimir:hover .btn-text {
    opacity: 1;
    right: calc(100% + 10px);
}

.btnImprimir:focus {
    box-shadow: none;
}

.btnImprimir:hover {
    background-color: gray;
    font-family: 'textos3';
    color: black;
    transition: ease-in-out 0.3s;
}

.btnCancelar:hover {
    background-color: rgb(223, 0, 0);
    transition: ease-in-out 0.3s;
    color: white;
    font-family: 'textos3';
}

.btnPersonas {
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: #b1b1b1;
    font-family: 'textos3';
}

.btnPersonas:focus {
    box-shadow: none;
}

.btnCancelar {
    background-color: rgb(158, 0, 0);
    color: white;
    font-family: 'textos3';
}

.btnCancelar:focus {
    box-shadow: none;
}

.btnAgregar {
    /* text-align: right; */
    /* margin-top: 150px; */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.btnAgregar:hover {
    scale: 102%;
    transition: ease-in-out 0.3s;
}

.btnGuardar {
    background-color: #ecab0f;
    color: white;
    font-family: 'textos3';
}

.btnGuardar:hover {
    background-color: #cb920d;
    transition: ease-in-out 0.3s;
    color: white;
    font-family: 'textos3';
}

.btnGuardar:focus {
    box-shadow: none;
}

.botonEntendido {
    background-color: #ecab0f !important;
    color: white;
    font-family: 'textos3';
    border-radius: 5px 5px 5px 5px;
}

.botonEntendido:hover {
    scale: 103% !important;
    transition: ease-in-out 0.3s !important;
}

.btn .fa-pen-to-square {
    color: #cb920dcf;
}

.btn .fa-pen-to-square:focus {
    box-shadow: none;
}

.btn .fa-pen-to-square:hover {
    scale: 103%;
    transition: ease-in-out 0.3s;
    color: #ffb200;
}

.btn:focus {
    box-shadow: none;
    border: none;
}

.btn .fa-trash {
    color: rgba(68, 0, 0, 0.76);
}

.btn .fa-trash:active {
    box-shadow: none;
}

.btn .fa-trash:hover {
    scale: 103%;
    transition: ease-in-out 0.3s;
    color: rgb(223, 0, 0);
}

/* Animaciones Modal */
.modal {
    animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
    animation: modalOpen 0.3s ease-in-out;
    background-color: rgb(46, 46, 46);
}

/* Modal Ayuda Form */
.modalAyuda {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.4s ease-in-out;
    overflow: hidden;
    cursor: default;
}

.modal-contentAyuda {
    background-color: #dddddd;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px 5px 5px 5px;
}

.modal-contentAyuda h2,
p {
    font-family: 'textos13'
}

.modal-footerAyuda {
    text-align: right;
    margin-top: 20px;
}

.modal-footerAyuda button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

/* Tabla responsiva */
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    font-size: 0.8rem; 
}

.table-responsive > .table {
    margin-bottom: 0;
    min-width: 600px;
}

.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
    padding: 0.5rem; 
}

@media (max-width: 767px) {
    .table-responsive {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        font-size: 0.7rem; 
    }

    .table-responsive > .table {
        min-width: 500px !important; 
    }

    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        padding: 0.25rem; 
    }

    th{
        text-align: left !important;
        font-size: medium !important;
    }

    td{
        text-align: left !important;
        font-size: medium !important;
    }

}

@media (min-width: 768px) {
    .modal-contentAyuda {
        width: 30%;
        top: 0 !important;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes modalOpen {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}