body {
    background-color: #333333;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='317' height='317' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%235F5F5F' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FCC044'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

/* Carousel */
.carFondo {
    background-color: black;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.671);
}

.carousel-indicators button:hover {
    background-color: rgb(255, 230, 0);
}

.carousel-indicators button.active {
    background-color: #ffe600;
}

.carousel-indicators {
    bottom: 15px;
    position: absolute;
    z-index: 15;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.6s;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    transform: translateX(0);
    transform-origin: center center;
}

/* Cards Permisos Usuarios */
.tarjeta {
    transition: ease-in-out 0.3s;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.262);
}

.tarjeta:hover {
    scale: 101%;
}

.carousel {
    transition: ease-in-out 0.3s;
}

.carousel:hover {
    scale: 101%;
}

@media (max-width: 767px) {
    .carousel-indicators {
        bottom: 1px;
        position: absolute;
        z-index: 5;
    }

    .tarjeta {
        margin-right: 25px !important;
    }
}

/* Carousel empresas
.white-gradient {
    background: linear-gradient(to right, white 0%, transparent 100%);
} */
/* 
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-3500px); /* Ajusta este valor según el ancho total de las imágenes */


/* 

.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, white 0%, transparent 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotate(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: 3500px; /* Ajusta este valor según el ancho total de las imágenes */
/* top: 100%;
    gap: 50px;
}

.slideCar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.slideCar img {
    max-height: 100%;
    max-width: 100%;
}

.carouselEmpresas {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
  }

  .carousel-trackEmpresas {
    display: flex;
    width: 300%;
    animation: carousel-animation 10s linear infinite;
  }

  .carousel-itemEmpresas {
    flex: 0 0 33.33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-itemEmpresas img {
    max-width: 100%;
    max-height: 100%;
  }  */
/* 
  @keyframes carousel-animation {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-66.66%);
    }
  } 
    */