body {
  margin-top: 60px;
  background: rgb(255,182,35);
  background: radial-gradient(circle, rgba(255,182,35,0.8) 0%, rgba(0,0,0,0.8) 0%, rgba(255,182,35,0.8) 100%);
}

.tituloSTVA{
  width: 220px;
  height:90px;
}

.btn-login {
  background-color: #ffb623;
}

.btn-login:hover {
  transition: ease-in-out 0.2s;
  background-color: #ffba2f;
}

.formLogin{
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.428);
}
/* Imagen form login */
.account-block {
  padding: 0;
  background-image: url('../img/STVAguardia_1_sin_texto.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  border-radius: 0px 5px 5px 0px;
}

.account-block .overlay {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.account-block .account-testimonial {
  text-align: center;
  color: #fff;
  position: absolute;
  margin: 0 auto;
  padding: 0 1.75rem;
  bottom: 3rem;
  left: 0;
  right: 0;
}
/* Imagen form login */
.account-block {
  padding: 0;
  background-image: url('../img/STVAguardia_1_sin_texto.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.account-block .overlay {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.51);
}

.account-block .account-testimonial {
  text-align: center;
  color: #fff;
  position: absolute;
  margin: 0 auto;
  padding: 0 1.75rem;
  bottom: 3rem;
  left: 0;
  right: 0;
}
/* Estilos para dispositivos moviles */
@media (max-width: 768px) {

  .container {
    width: 100%; 
    margin-top: 35%;

  }

  .tituloSTVA{
    scale: 125%;
  }

  h6{
    font-size: 25px !important;
    text-align: center;
  }

  p{
    font-size: 18px !important;
    text-align: center;
  }

  input{
    scale: 108%;
  }

  .form-floating{
    scale: 108%;
    margin-top: 15px;
  }

  label{
    scale: 108%;
    margin-left: -12px;
  }

  button{
    scale: 120%;
    margin-top: 10px;
  }
}