@{
    ViewData["Title"] = "Usuarios";
}

<link rel="stylesheet" href="~/css/abm.css" asp-append-version="true" />

<!-- Encabezado ABM -->
<div class="card mt-4">
    <div class="card-body">
        <div class="container mt-3">
            <div class="row">
                <div class="col-auto me-auto">
                    <h1 class="display-5 hover-icon">Usuarios <i class="fas fa-users icon"></i></h1>
                </div>
                <div class="col-auto">
                    <button class="btn btnImprimir mt-3">
                        <i class="fa-solid fa-download"></i>
                        <span class="btn-text">Imprimir</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tabla -->
<div class="card mt-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center">Usuario</th>
                        <th scope="col" style="text-align: center">Rol</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="tbody-usuarios"></tbody>
            </table>
        </div>
    </div>
</div>

@* //HACER MODAL NUEVO PARA EL EDITAR CON SOLO INPUT DE EMAIL, EN EL METODO EDITAR QUE EL EMAIL SEA IGUAL A USERNAME Y
NORMALIZEDNAME *@

<!-- Modal Agregar -->
<div class="modal fade" id="modalUsuarios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    id="staticBackdrop" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal"></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="d-flex">
                        <p class="campoObligatorio">Los campos marcados con un asterisco (<span class="asterisco">*</span>) son obligatorios</p>
                    </div>
                    <form>
                        <div class="col-md-10 mb-8">
                            <input type="hidden" id="UsuarioID">
                            <label for="username" class="form-label d-flex">UserName<p class="asterisco">*</p></label>
                            <input type="text" class="form-control" id="username" autocomplete="new-text">
                            <span id="userNameError" class="textoError"></span>
                            <br>
                            <label for="email" class="form-label d-flex">Email<p class="asterisco">*</p></label>
                            <input type="email" class="form-control" id="email">
                            <span id="emailError" class="textoError"></span>
                            <br>
                            <label for="password" class="form-label d-flex">Contraseña<p class="asterisco">*</p></label>
                            <input type="password" class="form-control" id="password" autocomplete="new-password">
                            <span id="passwordError" class="textoError"></span>
                            <br>
                            <div>
                                <label for="RolID" class="form-label d-flex">Elige el rol del usuario<p class="asterisco">*</p></label>
                                @Html.DropDownList("RolID", null, htmlAttributes: new
                                    {
                                        @class =
                                         "form-control",
                                        @id = "RolID"
                                    })
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnGuardar" onclick="GuardarUsuario()">Guardar</button>
                <button type="button" class="btn btnCancelar" data-bs-dismiss="modal"
                    onclick="LimpiarModal()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Editar -->
<div class="modal fade" id="modalEditarUsuarios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    id="staticBackdrop" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModalEditar"></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form>
                        <div class="col-md-10 mb-10">
                            <input type="hidden" id="UsuarioEditarID">
                            <label for="emailEditar" class="form-label">Email</label>
                            <input type="email" class="form-control" id="emailEditar">
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnGuardar" onclick="">Guardar</button>
                <button type="button" class="btn btnCancelar" data-bs-dismiss="modal"
                    onclick="LimpiarModalEditar()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Boton modal -->
<div class="btnAgregar">
    <button type="button" class="btn btn-secondary btn-circle btn-lg" title="Agregar" data-bs-toggle="modal"
        data-bs-target="#modalUsuarios" data-bs-target="#staticBackdrop" onclick="NuevoUsuario()">
        <i class="fa-solid fa-plus"></i> Nuevo Usuario
    </button>
</div>

@section Scripts {
    <script src="~/js/usuarios-1.0.0.js"></script>
}
