@{
    ViewData["Title"] = "Fichaje";
}

<link rel="stylesheet" href="~/css/fichaje.css" asp-append-version="true" />

<div class="container">
    <div class="card">
        <div class="card-border-top"></div>
        <span>@ViewBag.NombreTitulo</span>
        <div id="imagenPersona"></div>
        @* <img src="../img/usuario-fondo-negro.png" class="imgUsuario" id="imagenPersona"> *@
        <button class="botonInicio" onclick="RegistrarMomento(1)">Inicio de Jornada</button>
        <button class="botonFin" onclick="RegistrarMomento(2)">Fin de Jornada</button>
    </div>
</div>

@section Scripts {
    <script src="~/js/fichaje.js"></script>
}