@{
    ViewData["Title"] = "Historial de Fichajes";
}

<link rel="stylesheet" href="~/css/abm.css" asp-append-version="true" />

<!-- Encabezado ABM -->
<div class="card m-4">
    <div class="card-body">
        <div class="mt-3">
            <div class="row">
                <div class="col-auto me-auto">
                    <h1 class="hover-icon hover-iconPequeño">HISTORIAL DE FICHAJES <i
                            class="fas fa-business-time icon"></i></h1>
                </div>
                <div class="col-auto">
                    <button class="btn btnImprimir mt-2" onclick="ImprimirTablaFichajes()">
                        <i class="fa-solid fa-download"></i>
                        <span class="btn-text">Imprimir</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Tabla -->
<div class="card m-4">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col-auto">
                <div class="input-group m-2">
                    <div class="ms-2">
                        <label for="personaID" class="form-label text-dark">Filtra por empleado</label>
                        @Html.DropDownList("PersonaID", null, htmlAttributes: new
                            {
                                @class = "form-control filtro",
                                @onchange = "HistorialFichajes()"
                            })
                    </div>
                    <!-- Contenedor para los inputs de fecha con etiquetas -->
                    <div class="ms-2">
                        <label for="fechaDesde" class="form-label text-dark">Fecha Desde</label>
                        <input type="date" id="fechaDesde" class="form-control" onchange="HistorialFichajes()">
                    </div>
                    <div class="ms-2">
                        <label for="fechaHasta" class="form-label text-dark">Fecha Hasta</label>
                        <input type="date" id="fechaHasta" class="form-control" onchange="HistorialFichajes()">
                    </div>
                    <!-- Botón añadido al lado de Fecha Hasta -->
                    <div class="ms-2 mt-4">
                        <button type="button" class="btn btn-secondary" onclick="LimpiarFiltros()">Limpiar Filtros</button>
                    </div>
                </div>
            </div>
            <div class="col-auto ms-auto referenciaContainer">
                <div class="me-2 d-flex align-items-center">
                    <span class="referenciaColor colorFueraDeHorario" style="background-color: #d2828a;"></span>
                    <span class="referenciaTexto colorFueraDeHorario">Fuera de horario</span>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive" style="overflow-y: auto;">
            <table class="table mt-1" id="imprimir-tabla">
                <thead>
                    <tr>
                        <th scope="col" style="text-align: center">EMPLEADO</th>
                        <th scope="col" style="text-align: center">JORNADA</th>
                        <th scope="col" style="text-align: center">MOMENTO</th>
                        <th scope="col" style="text-align: center">FECHA Y HORA</th>
                    </tr>
                </thead>
                <tbody id="tbody-jornadaHistorial"></tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/fichaje.js"></script>
    <script src="~/js/impresiones.js"></script>
}