@{
    ViewData["Title"] = "Provincias";
}

<link rel="stylesheet" href="~/css/abm.css" asp-append-version="true" />

<!-- Encabezado ABM --> 
<div class="card m-3">
    <div class="card-body">
        <div class="container mt-3">
            <div class="row">
                <div class="col-auto me-auto">
                    <h1 class="display-5 hover-icon">Provincias <i class="fas fa-magnifying-glass-location icon"></i>
                    </h1>
                </div>
                <div class="col-auto">
                    <button class="btn btnImprimir mt-3">
                        <i class="fa-solid fa-download"></i>
                        <span class="btn-text">Imprimir</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal --> 
<div class="modal fade" id="modalProvincias" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    id="staticBackdrop" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal"></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="d-flex">
                        <p class="campoObligatorio">Los campos marcados con un asterisco (</p>
                        <p class="asterisco">*</p>
                        <p class="campoObligatorio">) son obligatorios</p>
                    </div>
                    <form>
                        <div class="col-md-10 mb-10">
                            <input type="hidden" id="ProvinciaID">
                            <label for="NombreProvincia" class="form-label d-flex">Nombre<p class="asterisco">*</p></label>
                            <input type="text" class="form-control" id="NombreProvincia"
                                style="text-transform:uppercase">
                            <span id="NombreError" class="textoError"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnGuardar" onclick="GuardarRegistros()">Guardar</button>
                <button type="button" class="btn btnCancelar" data-bs-dismiss="modal"
                    onclick="LimpiarModal()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<!-- Tabla --> 
<div class="card m-3">
    <div class="card-body">
        <table class="table table-striped mt-3">
            <thead>
                <tr>
                    <th scope="col" style="text-align: center">Nombre</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="tbody-provincias"></tbody>
        </table>
    </div>
</div>

<!-- Boton Modal -->
<div class="btnAgregar">
    <button type="button" class="btn btn-secondary btn-circle btn-lg" title="Agregar" data-bs-toggle="modal"
        data-bs-target="#modalProvincias" data-bs-target="#staticBackdrop" onclick="NuevoRegistro()">
        <i class="fa-solid fa-plus"></i> Nueva Provincia
    </button>
</div>

@section Scripts {
    <script src="~/js/provincias-1.0.0.js"></script>
}