@{
    ViewData["Title"] = "Provincias";
}

<link rel="stylesheet" href="~/css/abm.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Provincias</h1>
</div>

<!-- Modal -->
<div class="modal fade" id="modalProvincias" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" id="staticBackdrop" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form>
                        <div class="col-md-10 mb-10">
                            <input type="hidden" id="ProvinciaID">
                            <label for="NombreProvincia" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="NombreProvincia" style="text-transform:uppercase">
                            <span id="NombreError"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btnGuardar" onclick="GuardarRegistros()">Guardar</button>
                <button type="button" class="btn btnCancelar" data-bs-dismiss="modal" onclick="LimpiarModal()">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th scope="col" style="text-align: center">Nombre</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody id="tbody-provincias"></tbody>
</table>

<!-- Button trigger modal -->
<div class="btnAgregar">
<button type="button" class="btn btn-primary btn-circle btn-lg" title="Agregar" data-bs-toggle="modal" data-bs-target="#modalProvincias" data-bs-target="#staticBackdrop" onclick="NuevoRegistro()">
  <i class="fa-solid fa-plus"></i>
</button>
</div>

@section Scripts {
    <script src="~/js/provincias-1.0.0.js"></script>
}